<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/solo.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  {% if site.font-awesome-include %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">{% endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/rrssb.css">

  <script src="{{ site.baseurl }}/scripts/jquery.js"></script>
  <link rel="canonical" href="{{ site.url }}" />
  <style>
    #code--ux--design--consult--content--ads{font-size:1.5rem;color:#000}
    #code--ux--design--consult--content--ads > span{display: block;font-size: 1.24rem;margin-top: 2rem;font-weight: bold;}
    #landing-page{max-width:1200px;}
    #landing-page:after{content: '';display: block;clear: both;}
    #landing-page .lp{float:left;width:33.3%;background:#312783;padding:1rem;font-family:georgia;font-size:4rem;color:#fff}
    
  </style>
</head>
<body>
  <article>
   <div class="container">
     <h1>
       <a href="./"><img src="{{ site.baseurl }}/images/LogoPTRocktokom-1.png" /></a>
       <span style="font-family:georgia;display:block">Bringing your <span style="background:#beddfe">startup idea</span> into reality</span>
     </h1>
    </div>
    
    <div id="landing--page">
      <div class="lp">
        Consulting<br/>
        Training<br/>
        Mentoring
      </div>
      <div class="lp">
        Web<br/>
        Programming<br/>
        UX Design<br/>
        Mobile App
      </div>
      <div class="lp">
        Content<br/>
        Short Video<br/>
        Product photo<br/>
      </div>
    </div>
     
    <div class="container">
    {{ content }}
    </div>
  </article>
<script src="{{ site.baseurl }}/scripts/rrssb.min.js"></script>
</body>
</html>
